// app global css in SCSS form
body {
  min-width: 320px;
  --tw-gradient-from-position: ;
  --tw-gradient-to-position: ;
  --tw-gradient-from: #000 var(--tw-gradient-from-position);
  --tw-gradient-to: #022c22 var(--tw-gradient-to-position);
  --tw-gradient-stops: var(--tw-gradient-from), var(--tw-gradient-to);
  background-image: linear-gradient(to bottom right, var(--tw-gradient-stops));
}

body #q-app {
  min-width: 320px;
}
